<% provide(:title, @instructor.name) %>
<div class="row">
  <aside class="span7">
    <section class="instructor-info">
      <h1>
        <%= gravatar_for @instructor, size:160 %>
        <%= @instructor.name %> 

      </h1>
       <h3>
        Company: <%= link_to @instructor.company.name, @instructor.company %>
      </h3>
      <div class="instructor-info-block">
      <% if @instructor.instructor_info %>
        <h6>
        Price: $ <%= @instructor.instructor_info.price %>
        </h6>
        <h6>
        Description: <%= @instructor.instructor_info.description %>
        </h6>
        <% end %>
      </div>
      </section>


    <% if !current_student? %>
        <% if current_user?(@instructor) %>
            <% if instructor_has_info? %>
            <%= link_to "Update instructor info", edit_instructor_info_path, class: "btn btn-large btn-primary" %>
            <% else %>
            <%= link_to "Create instructor info", new_instructor_info_path, class: "btn btn-large btn-primary" %>
            <% end %>
        <% end %>
    <% end %>
    
  </aside>

</div>