<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size:100 %>
        <%= @user.name %> 
      </h1>
        <% if @user.user_info %>
        <h6>
        School : <%= @user.user_info.school %>
        Year : <%= @user.user_info.year %>
        </h6>
        <h6>
        Position : <%= @user.user_info.position %>
        Team : <%= @user.user_info.team %>
        </h6>
        <h6>
        weight : <%= @user.user_info.weight %>
        Height : <%= @user.user_info.feet %> feet
        <%= @user.user_info.inches %> inches
        </h6>
        <h6>
        Description : <%= @user.user_info.description %>
        </h6>
        <% end %>
    </section>
    <% if current_student? %>
        <% if current_user?(@user) %>
            <% if user_has_info? %>
            <%= link_to "Update user info", edit_user_info_path, class: "btn btn-large btn-primary" %>
            <% else %>
            <%= link_to "Create user info", new_user_info_path, class: "btn btn-large btn-primary" %>
            <% end %>
        <% end %>
    <% end %>
</aside>
</div>
<hr>
<div class="clear"></div>
  <div class="video-people">
  <% if @user.videos.any? %>
         <div class="video-count">Videos (<%= @user.videos.count %>)</div>
         <% if current_user?(@user) %>
         <%= link_to "add new video", new_video_path, class: "add-video" %>
         <% end %>
         <div class="clear"></div>
          <%= render @videos %>
          <%= will_paginate @videos %>
  <% else %>
         <% if current_user?(@user) %>
         <%= link_to "add new video", new_video_path, class: "add-video-none" %>
         <% end %>
  <% end %>
  </div>