<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
      </h1>
        <% if @user.user_info %>
        <h6>
        <%= @user.user_info.school %>
        <%= @user.user_info.year %>
        </h6>
        <h6>
        <%= @user.user_info.position %>
        <%= @user.user_info.team %>
        </h6>
        <h6>
        <%= @user.user_info.weight %>
        <%= @user.user_info.feet %>
        <%= @user.user_info.inches %>
        </h6>
        <h6>
        <%= @user.user_info.description %>
        </h6>
        <% end %>
    </section>
    <% if current_student? %>
        <% if current_user?(@user) %>
            <% if user_has_info? %>
            <%= link_to "Update user info", edit_user_info_path, class: "btn btn-large btn-primary" %>
            <% else %>
            <%= link_to "Create user info", new_user_info_path, class: "btn btn-large btn-primary" %>
            <% end %>
        <% end %>
    <% end %>

    

    
  </aside>
</div>