<% content_for :navbar do %>
  <li><a href="/simple">Simple</a></li>
  <li><a href="/advanced">Advanced</a></li>
  <li class="active"><a href="#">Player</a></li>
<% end %>

<div class='each-video'>

<% if @h264_encoding.success? %>
  
  <h3><%= @video.title %></h3>
  <!-- HTML5 player -->
  <video id="movie" width="<%= @h264_encoding.width %>" height="<%= @h264_encoding.height %>" preload="none" 
    poster="<%= @h264_encoding.screenshots.first %>" controls>
    <source src="<%= @h264_encoding.url %>" type="video/mp4">
  </video>

<% else %>

<div class='progress progress-striped progress-success'>
  <span id="progress-bar" class='bar' style="width: <%= @h264_encoding.encoding_progress.to_i %>%"><%= @h264_encoding.encoding_progress %> %</span>
</div>

The video is still processing, refresh the page in a few seconds.
<% end %>

</div>