<li id="<%= feed_item.id %>">
	<%= gravatar_for feed_item.people, size: 52 %>
    <span class="user">
      <%= link_to feed_item.people.name, feed_item.people %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <span class="content">
    <div class='each-video'>

<% if feed_item.panda_video.encodings['h264'].success? %>
  
  <h3><%= feed_item.title %></h3>
  
  <!-- HTML5 player -->
  <video id="movie" width="<%= feed_item.panda_video.encodings['h264'].width %>" height="<%= feed_item.panda_video.encodings['h264'].height %>" preload="none" 
    poster="<%= feed_item.panda_video.encodings['h264'].screenshots.first %>" controls>
    <source src="<%= feed_item.panda_video.encodings['h264'].url %>" type="video/mp4">
  </video>

<% else %>

<div class='progress progress-striped progress-success'>
  <span id="progress-bar" class='bar' style="width: <%= feed_item.panda_video.encodings['h264'].encoding_progress.to_i %>%"><%= feed_item.panda_video.encodings['h264'].encoding_progress %> %</span>
</div>

The video is still processing, refresh the page in a few seconds.
<% end %>

</div>
</span>
    
</li>